<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/edit.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>


<h1>Edit <%= @job.title %> for <%= @job.company.name %></h1>

<%= render partial: "form" %>
