<head>
  <link rel="stylesheet" type="text/css" media="screen" href="./main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<div class='style_block'>
<h3>Create a new company here!</h3>
</div>
<%= render partial: "form" %>
